* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to top left, #333 40%, #b22222 100%);
}

img {
  width: 100%;
}

#header {
  font-size: 10px;
}

#container {
  margin-top: 30px;
  display: grid;
  grid: repeat(4, 240px) / auto-flow 500px;
}

#container > div {
  box-shadow: 8px 36px 20px black;
  width: 400px;
  height: 200px;
}
