body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5%;
  background: linear-gradient(to top left, #333 40%, #b22222 100%);
}

img {
  margin: 0 auto;
}

header, footer {
  width: 100%;
  position: fixed;
  background: #222;
  padding: 10px 0;
  color: #fff;
  left: 0;
}

header {
  height: 30px;
  top: 0;
}

root {
  color: #fff;
}

footer {
  bottom: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 3px 10px;
  display: inline-block;
  margin: 0 auto;
}

nav a:hover, nav a:first-child:hover {
  border-radius: 10px;
  background-color: #333;
  border-left: 2px solid grey;
}

.font-size a {
  color: #fff;
  text-decoration: none;
  padding: 0px 5px;
  display: inline-block;
}

left, right {
  font-size: 12px;
  flex: 50%;
}

right {
  text-align: right;
}

.font-size {
  width: 288px;
  height: 30px;
  text-align: right;
}

nav a:not(:first-child) {
  border-left: 2px solid grey;
}

nav a:first-child {
  color: gold;
  border-left: 2px solid #222;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.text-change {
  display: flex;
}

.header, .footer {
  display: flex;
}
