* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to top left, #333 40%, #b22222 100%);
}

p {
  margin-bottom: 20px;
}

img {
  margin-bottom: 20px;
  width: 100%;
}

.content {
  margin-top: 200px;
  color: aliceblue;
  font-size: 20px;
}

.content-text {
  padding-left: 20px;
  width: 50%;
  float: left;
}

.content-photos {
  width: 50%;
  float: left;
}

#register {
  color: peru;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

button {
  position: absolute;
  background-color: #888;
  font-size: 15px;
  padding: 10px;
  top: 10px;
}

.forum-btn {
  left: 30px;
}

.login-btn {
  right: 30px;
}

.g-logo {
  position: absolute;
  width: 20%;
  right: 480px;
  top: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}
